<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Inz.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Inz.Properties.Settings>
            <setting name="bladkierunkucc" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="sciezkageoidy" serializeAs="String">
                <value>C:\Users\Piotrek\Desktop\gugik-geoid2011.txt</value>
            </setting>
            <setting name="elipsoida_a" serializeAs="String">
                <value>6378137</value>
            </setting>
            <setting name="elipsoida_b" serializeAs="String">
                <value>6356752.3142452</value>
            </setting>
            <setting name="elipsoida_f" serializeAs="String">
                <value>298.257223563</value>
            </setting>
            <setting name="rtklibPath" serializeAs="String">
                <value>C:\rtklib\rtklib_2.4.2\bin\rnx2rtkp.exe</value>
            </setting>
            <setting name="wynikirtklib" serializeAs="String">
                <value>C:\wyniki z rtkliba</value>
            </setting>
            <setting name="config" serializeAs="String">
                <value>C:\Projekty C\dane\konfig.conf</value>
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value>C:\Praca_Inz\rtklib Wyniki</value>
            </setting>
            <setting name="bladcentrowaniam" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bladwysantm" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="bladdlugosci1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="bladdlugosci2" serializeAs="String">
                <value>5</value>
            </setting>
        </Inz.Properties.Settings>
    </userSettings>
</configuration>